body {
    font-family: 'Raleway', sans-serif;
    background-image: url(../img/bg-1.png);
    background-position-x: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
}

.current-time {
	font-family:"Segoe UI",Roboto,"Helvetica Neue";
	color: black;
	font-weight: 600;
	/*font-size: 3em;*/
}

.center-img {
	height: 3em;
}

.greet_name {
	font-weight: bold !important;
}

.center-img-wrapper {
	position: absolute;
	bottom: 2em;
	right: 19em;
	transform: translate(-50%);
	padding: 1.5em;
	background: #fff;
	border-radius: 50%;
	box-shadow: 0 0 10px -2px #000;
}

.zubizi-text {
	font-size: 1.7em;
	position: absolute;
	bottom: 2.5em;
	right: 2em;
	font-weight: bold;
	/*transform: translate(-50%);*/
}

.zubizi-sub-text {
	font-size: 1em;
	position: absolute;
	bottom: 2em;
	right: 5em;
	/*font-weight: bold;*/

}

.text-center {
	text-align: center;
}

.center-content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
    padding: 4em;
    background: #11111140;
    border-radius: 1em;
}